<HTML>
<HEAD>
<META NAME="Author" CONTENT="Eric Milota">
<TITLE>Message from NovaWorld</TITLE>
</HEAD>
<BODY TEXT="#FFFFFF" BGCOLOR="#3A6BBB" LINK="#FFFF00" VLINK="#FFFF00" ALINK="#CCCC00">


<br>

<center>
<font size=+3><b>NovaWorld Message</b></font>
</center>
<br>

<center>
<table width=500>
<td>
<font face=arial>
<IB3_SUBST name="@MESSAGE@">
A newer version of this game is available.<br>
<br>
To update your game, exit the game then select UPDATE GAME from the start menu.<br>
<br>
Your version may be incompatible with others.  To continue without updating, click on CONTINUE.</IB3_SUBST>
</font>
</td>
</table>
</center>
<br>
<center>

<br>
<A HREF="dfx2_0_login.htm">Continue</A>
<hr size=1 width=100%>
<center><font face="ARIAL"><font size=-2>&copy;2005 NovaLogic, Inc.</font></center>
<center><font size="-4">Rev NW2.0.0</font></center>
</BODY>
</HTML>

<IB3_TEMPLATE file="dfx2_0_newupdateavailable2.mnx">
