<HTML>
<HEAD>
<META NAME="Author" CONTENT="Eric Milota">
<TITLE>Message from NovaWorld</TITLE>
</HEAD>
<BODY TEXT="#FFFFFF" BGCOLOR="#3A6BBB" LINK="#FFFF00" VLINK="#FFFF00" ALINK="#CCCC00">


<br>

<center>
<font size=+3><b>NovaWorld Message</b></font>
</center>
<br>

<center>
<table width=500>
<td>
<font face=arial>
<IB3_SUBST name="@MESSAGE@">
A newer version of this game is available.<br>
<br>
You will need to update your game in order to play multiplayer games through NovaWorld.</IB3_SUBST>
  You can update your game by clicking <a href="http://novaworld.com">here</a>.
<br>
(Code 2004)<BR>
<br>
<br>
</font>
</td>
</table>
</center>
<br>
<center>

<br>
<A HREF="dfx2_0_start.htm">Continue</A>
<hr size=1 width=100%>
<center><font face="ARIAL"><font size=-2>&copy;2005 NovaLogic, Inc.</font></center>
<center><font size="-4">Rev NW2.0.0</font></center>
</BODY>
</HTML>

<IB3_TEMPLATE file="dfx2_0_newupdateavailable.mnx">
