<HTML>
<HEAD>
<META NAME="Author" CONTENT="Eric Milota">
<TITLE>NovaWorld Main Menu</TITLE>
</HEAD>

<BODY TEXT="#FFFFFF" BGCOLOR="#3A6BBB" LINK="#FFFF00" VLINK="#FFFF00" ALINK="#CCCC00">
<A HREF="http://www.novalogic.com/store?usecommercialbrowser=1" USECOMMERCIALBROWSER><IMG SRC="bhdtitle.png" WIDTH=600 HEIGHT=32" BORDER=0></a><BR>
<IB3_SUBST name="@MOTD@">Welcome to NovaWorld!

Visit the new NovaWorld Community site (beta) now located www.novaworld2.com.  There you can manage characters, view your stats, join squads, get tips from your fellow players and more!

New to NovaWorld is Delta Force: Xtreme 2.  The game scales to support everything from Intel Integrated Video to the latest HD monitors and sound systems.  Visit www.novalogic.com for more information.  DF:X2 is the first game to test NovaWorld's new direct download store.

Joint Operation on-line games may be monitored by sysops and NovaLogic servers will log hacks which may be used to ban an account or character.  Players found to be running hacks will have their accounts suspended indefinitely without a refund.

To join a game, select "Games" button from the button list above, then select a server you wish to join.  Click on "Join" button to join that game server.

To host a game, select the "Host" button on the left.  You can then set up your server parameters.  When you are ready to host, click on the "Start Hosting" button at the bottom of the screen.
</IB3_SUBST>
<br>
<center>

<br>

<TABLE cellspacing=0>

<TR>
<TD ALIGN="LEFT" WIDTH="160">Game Services:</TD>
<TD ALIGN="LEFT" WIDTH="220"><A HREF="jop_2_lobby.htm">Join</A></TD>
<TD ALIGN="LEFT" WIDTH="220"><A HREF="jop_2_host1.htm">Host</A></TD>
</TR>

<TR>
<TD><font color="#3A6BBB">-</font></TD>
<TD><font color="#3A6BBB">-</font></TD>
<TD><font color="#3A6BBB">-</font></TD>
</TR>

<TR>
<TD>Other Services:</TD>
<TD><A HREF="jop_2_goch.htm">My Player Options</A></TD>
<TD></TD>
</TR>

<TR>
<TD></TD>
<TD><A HREF="jop_2_account.htm">Account Options</A></TD>
<TD></TD>
</TR>

<TR>
<TD><font color="#3A6BBB">-</font></TD>
<TD><font color="#3A6BBB">-</font></TD>
<TD><font color="#3A6BBB">-</font></TD>
</TR>

<TR>
<TD ALIGN="LEFT" WIDTH="160">Web Services:</TD>
<TD ALIGN="LEFT" WIDTH="220"><A HREF="http://novaworld.com" USECOMMERCIALBROWSER>NovaWorld Communities</A></TD>
<TD ALIGN="LEFT" WIDTH="220"></TD>
</TR>

<TR>
<TD><font color="#3A6BBB">-</font></TD>
<TD><font color="#3A6BBB">-</font></TD>
<TD><font color="#3A6BBB">-</font></TD>
</TR>

<TR>
<TD>Misc:</TD>
<TD><A HREF="NWLogout.dll?success=jop_2_login.htm&failure=jop_2_main.htm&msgbase=jop_2_msg.htm&relay=jop_2_relay.htm&nodb=jop_2_nodb.htm">Logout</A></TD>
<TD></TD>
</TR>

</TABLE>

<br>

<hr size=1 width=100%>

<center><font face="ARIAL"><font size=-2>&copy;2005 NovaLogic, Inc.</font></center>
<center><font size="-4">Rev NW2.0.0</font></center>
</BODY>
</HTML>

<IB3_SUBST name="@ICON_PASSWORD@">http://assets.novaworld.net/data/trans/icons/Iconpassword.png</IB3_SUBST>
<IB3_SUBST name="@ICON_NOVAWORLD@">http://assets.novaworld.net/data/trans/icons/Iconnovaworld.png</IB3_SUBST>
<IB3_SUBST name="@ICON_TOURNAMENT@">http://assets.novaworld.net/data/trans/icons/Icontournament.png</IB3_SUBST>
<IB3_SUBST name="@ICON_STAT@">http://assets.novaworld.net/data/trans/icons/Iconstat.png</IB3_SUBST>
<IB3_SUBST name="@ICON_STATPASSWORD@">http://assets.novaworld.net/data/trans/icons/Iconstatpassword.png</IB3_SUBST>
<IB3_SUBST name="@ICON_5@">http://assets.novaworld.net/data/trans/icons/Iconstat.png</IB3_SUBST>
<IB3_SUBST name="@ICON_6@">http://assets.novaworld.net/data/trans/icons/Iconstat.png</IB3_SUBST>
<IB3_SUBST name="@ICON_7@">http://assets.novaworld.net/data/trans/icons/Iconstat.png</IB3_SUBST>
<IB3_SUBST name="@ICON_AFFIL_PUBLIC@">http://assets.novaworld.net/data/trans/icons/Iconaffiliatepublic.png</IB3_SUBST>
<IB3_SUBST name="@ICON_AFFIL_LOCKED@">http://assets.novaworld.net/data/trans/icons/Iconaffiliateprivate.png</IB3_SUBST>
<IB3_SUBST name="@ICON_LOCKED@">http://assets.novaworld.net/data/trans/icons/IconClosed.png</IB3_SUBST>
<IB3_SUBST name="@ICON_TOURNAMENT@">http://assets.novaworld.net/data/trans/icons/Icontournament.png</IB3_SUBST>
<IB3_SUBST name="@ICON_CONSUMER@">http://assets.novaworld.net/data/trans/icons/IconConsumer.png</IB3_SUBST>
<IB3_SUBST name="@ICON_11@">http://assets.novaworld.net/data/trans/icons/Iconstat.png</IB3_SUBST>
<IB3_SUBST name="@ICON_12@">http://assets.novaworld.net/data/trans/icons/Iconstat.png</IB3_SUBST>
<IB3_SUBST name="@ICON_13@">http://assets.novaworld.net/data/trans/icons/Iconstat.png</IB3_SUBST>
<IB3_SUBST name="@ICON_14@">http://assets.novaworld.net/data/trans/icons/Iconstat.png</IB3_SUBST>
<IB3_SUBST name="@ICON_15@">http://assets.novaworld.net/data/trans/icons/Iconstat.png</IB3_SUBST>
<IB3_SUBST name="@FLAG_ICON_XX@">http://assets.novaworld.net/data/trans/icons/IconClosed.png</IB3_SUBST>
<IB3_SUBST name="@FLAG_ICON_AQ@">http://assets.novaworld.net/data/trans/flags/FlagAQ.png</IB3_SUBST>
<IB3_SUBST name="@FLAG_ICON_AR@">http://assets.novaworld.net/data/trans/flags/FlagAR.png</IB3_SUBST>
<IB3_SUBST name="@FLAG_ICON_AT@">http://assets.novaworld.net/data/trans/flags/FlagAT.png</IB3_SUBST>
<IB3_SUBST name="@FLAG_ICON_AU@">http://assets.novaworld.net/data/trans/flags/FlagAU.png</IB3_SUBST>
<IB3_SUBST name="@FLAG_ICON_BE@">http://assets.novaworld.net/data/trans/flags/FlagBE.png</IB3_SUBST>
<IB3_SUBST name="@FLAG_ICON_BR@">http://assets.novaworld.net/data/trans/flags/FlagBR.png</IB3_SUBST>
<IB3_SUBST name="@FLAG_ICON_CA@">http://assets.novaworld.net/data/trans/flags/FlagCA.png</IB3_SUBST>
<IB3_SUBST name="@FLAG_ICON_CH@">http://assets.novaworld.net/data/trans/flags/FlagCH.png</IB3_SUBST>
<IB3_SUBST name="@FLAG_ICON_CN@">http://assets.novaworld.net/data/trans/flags/FlagCN.png</IB3_SUBST>
<IB3_SUBST name="@FLAG_ICON_DE@">http://assets.novaworld.net/data/trans/flags/FlagDE.png</IB3_SUBST>
<IB3_SUBST name="@FLAG_ICON_DK@">http://assets.novaworld.net/data/trans/flags/FlagDK.png</IB3_SUBST>
<IB3_SUBST name="@FLAG_ICON_ES@">http://assets.novaworld.net/data/trans/flags/FlagES.png</IB3_SUBST>
<IB3_SUBST name="@FLAG_ICON_EU@">http://assets.novaworld.net/data/trans/flags/FlagEU.png</IB3_SUBST>
<IB3_SUBST name="@FLAG_ICON_FI@">http://assets.novaworld.net/data/trans/flags/FlagFI.png</IB3_SUBST>
<IB3_SUBST name="@FLAG_ICON_FR@">http://assets.novaworld.net/data/trans/flags/FlagFR.png</IB3_SUBST>
<IB3_SUBST name="@FLAG_ICON_GB@">http://assets.novaworld.net/data/trans/flags/FlagGB.png</IB3_SUBST>
<IB3_SUBST name="@FLAG_ICON_GL@">http://assets.novaworld.net/data/trans/flags/FlagGL.png</IB3_SUBST>
<IB3_SUBST name="@FLAG_ICON_GR@">http://assets.novaworld.net/data/trans/flags/FlagGR.png</IB3_SUBST>
<IB3_SUBST name="@FLAG_ICON_UK@">http://assets.novaworld.net/data/trans/flags/FlagUK.png</IB3_SUBST>
<IB3_SUBST name="@FLAG_ICON_HK@">http://assets.novaworld.net/data/trans/flags/FlagHK.png</IB3_SUBST>
<IB3_SUBST name="@FLAG_ICON_HU@">http://assets.novaworld.net/data/trans/flags/FlagHU.png</IB3_SUBST>
<IB3_SUBST name="@FLAG_ICON_IE@">http://assets.novaworld.net/data/trans/flags/FlagIE.png</IB3_SUBST>
<IB3_SUBST name="@FLAG_ICON_IL@">http://assets.novaworld.net/data/trans/flags/FlagIL.png</IB3_SUBST>
<IB3_SUBST name="@FLAG_ICON_IN@">http://assets.novaworld.net/data/trans/flags/FlagIN.png</IB3_SUBST>
<IB3_SUBST name="@FLAG_ICON_IS@">http://assets.novaworld.net/data/trans/flags/FlagIS.png</IB3_SUBST>
<IB3_SUBST name="@FLAG_ICON_IT@">http://assets.novaworld.net/data/trans/flags/FlagIT.png</IB3_SUBST>
<IB3_SUBST name="@FLAG_ICON_JP@">http://assets.novaworld.net/data/trans/flags/FlagJP.png</IB3_SUBST>
<IB3_SUBST name="@FLAG_ICON_KR@">http://assets.novaworld.net/data/trans/flags/FlagKR.png</IB3_SUBST>
<IB3_SUBST name="@FLAG_ICON_LU@">http://assets.novaworld.net/data/trans/flags/FlagLU.png</IB3_SUBST>
<IB3_SUBST name="@FLAG_ICON_MX@">http://assets.novaworld.net/data/trans/flags/FlagMX.png</IB3_SUBST>
<IB3_SUBST name="@FLAG_ICON_NL@">http://assets.novaworld.net/data/trans/flags/FlagNL.png</IB3_SUBST>
<IB3_SUBST name="@FLAG_ICON_NO@">http://assets.novaworld.net/data/trans/flags/FlagNO.png</IB3_SUBST>
<IB3_SUBST name="@FLAG_ICON_NZ@">http://assets.novaworld.net/data/trans/flags/FlagNZ.png</IB3_SUBST>
<IB3_SUBST name="@FLAG_ICON_PL@">http://assets.novaworld.net/data/trans/flags/FlagPL.png</IB3_SUBST>
<IB3_SUBST name="@FLAG_ICON_PR@">http://assets.novaworld.net/data/trans/flags/FlagPR.png</IB3_SUBST>
<IB3_SUBST name="@FLAG_ICON_PT@">http://assets.novaworld.net/data/trans/flags/FlagPT.png</IB3_SUBST>
<IB3_SUBST name="@FLAG_ICON_RO@">http://assets.novaworld.net/data/trans/flags/FlagRO.png</IB3_SUBST>
<IB3_SUBST name="@FLAG_ICON_RU@">http://assets.novaworld.net/data/trans/flags/FlagRU.png</IB3_SUBST>
<IB3_SUBST name="@FLAG_ICON_SE@">http://assets.novaworld.net/data/trans/flags/FlagSE.png</IB3_SUBST>
<IB3_SUBST name="@FLAG_ICON_SG@">http://assets.novaworld.net/data/trans/flags/FlagSG.png</IB3_SUBST>
<IB3_SUBST name="@FLAG_ICON_TW@">http://assets.novaworld.net/data/trans/flags/FlagTW.png</IB3_SUBST>
<IB3_SUBST name="@FLAG_ICON_US@">http://assets.novaworld.net/data/trans/flags/FlagUS.png</IB3_SUBST>
<IB3_SUBST name="@FLAG_ICON_ZA@">http://assets.novaworld.net/data/trans/flags/FlagZA.png</IB3_SUBST>
<IB3_SUBST name="@PB_ICON_0@">http://assets.novaworld.net/data/trans/icons/IconPunkBuster0.png</IB3_SUBST>
<IB3_SUBST name="@PB_ICON_1@">http://assets.novaworld.net/data/trans/icons/IconPunkBuster1.png</IB3_SUBST>
<IB3_SUBST name="@PI_ICON_1@">http://assets.novaworld.net/data/trans/icons/IconPI1.png</IB3_SUBST>
<IB3_SUBST name="@PI_ICON_2@">http://assets.novaworld.net/data/trans/icons/IconPI2.png</IB3_SUBST>
<IB3_SUBST name="@PI_ICON_3@">http://assets.novaworld.net/data/trans/icons/IconPI3.png</IB3_SUBST>
<IB3_SUBST name="@PI_ICON_4@">http://assets.novaworld.net/data/trans/icons/IconPI4.png</IB3_SUBST>
<IB3_SUBST name="@PROD_ICON_JOX0@">http://assets.novaworld.net/data/trans/icons/IconJopBase.png</IB3_SUBST>
<IB3_SUBST name="@PROD_ICON_JOX1@">http://assets.novaworld.net/data/trans/icons/IconJopExp1.png</IB3_SUBST>
<IB3_SUBST name="@PROD_ICON_MOD@">http://assets.novaworld.net/data/trans/icons/IconJopMod.png</IB3_SUBST>
<IB3_SUBST name="@PROD_ICON_Reality@">http://assets.novaworld.net/data/trans/icons/IconReality.png</IB3_SUBST>
<IB3_SUBST name="@PROD_ICON_IC@">http://assets.novaworld.net/data/trans/icons/IconIC.png</IB3_SUBST>
<IB3_SUBST name="@PROD_ICON_SNAJO@">http://assets.novaworld.net/data/trans/icons/IconSNAJO.png</IB3_SUBST>
<IB3_SUBST name="@PROD_ICON_SGMOD@">http://assets.novaworld.net/data/trans/icons/IconSGMod.png</IB3_SUBST>
<IB3_SUBST name="@PROD_ICON_ICE@">http://assets.novaworld.net/data/trans/icons/IconICE.png</IB3_SUBST>

<IB3_GLOBAL name="@HOST_URL@">{{HOST_URL}}</IB3_GLOBAL>
<IB3_SUBST name="@GSB_SERVER@">{{GSB_SERVER}}</IB3_SUBST>
<IB3_TEMPLATE file="jop_2_main.mnx">
